# Domain tanpa https://
DOMAIN=absensi.sekolah.sch.id

POSTGRES_DB=sismepda
POSTGRES_USER=sismepda
POSTGRES_PASSWORD=GANTI_PASSWORD_DATABASE_YANG_KUAT
DATABASE_URL=postgresql://sismepda:GANTI_PASSWORD_DATABASE_YANG_KUAT@db:5432/sismepda

# Hasil perintah: openssl rand -base64 32
AUTH_SECRET=GANTI_RANDOM_SECRET_MINIMAL_32_BYTE

SEED_ADMIN_EMAIL=admin@sismepda.sch.id
SEED_ADMIN_PASSWORD=GANTI_PASSWORD_ADMIN_YANG_KUAT
