DATABASE_URL="postgresql://sismepda:ganti-password-kuat@localhost:5432/sismepda"
AUTH_SECRET="buat-dengan-openssl-rand-base64-32"
SEED_ADMIN_EMAIL="admin@sismepda.sch.id"
SEED_ADMIN_PASSWORD="ganti-password-kuat"
